<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>work order manager - ualiu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
</head>
<body>
  <div class="container mt-5">
    <h1>Create New Customer</h1>

    <form action="/api/customers" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="text" id="phone" name="phone" class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="provide a valid email to test autoemail feature">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address:</label>
        <input type="text" id="address" name="address" class="form-control">
      </div>
      <div class="mb-3">
        <label for="notes" class="form-label">Notes:</label>
        <textarea id="notes" name="notes" class="form-control"></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary me-md-2"><i class="fas fa-save me-2"></i>Create Customer</button>
        <a href="/api/customers" class="btn btn-secondary"><i class="fas fa-arrow-left me-2"></i>Go back</a>
      </div>
    </form>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-9fDnDEZlqUSn8GOUWfPsxmAujwYQHTFv7FlRkW9Xz/aNlO6UBAvNl2N25jSWfzgUxdDwUHrlrjK/6nnXm6myng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
